<!DOCTYPE html>
<html><head>
    <title><%= data.title %> </title>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">

    <meta name="keywords" content="高輪入口, 迪士尼, 襯線體, 希爾頓, 千葉, 房總半島, 令制國, 安房國, 上總國, 阿波國, 古語拾遺, 忌部氏, 東國, 訓讀, 玉前神社, 濱金谷, 鋸山, 乾坤山日本寺, 房州石, 廢佛毀釋, 四獅子像初轉法輪石柱, 菩提伽倻, 久里濱, 日本漫遊">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#ffffff">
    <link rel="amphtml" href="https://byvoid.com/zht/blog/jp-roaming-aha-nokogiri/amp.html">

    <!-- <link rel="alternate" hreflang="zh-Hans" href="https://byvoid.com/zhs/blog/jp-roaming-aha-nokogiri/"> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11970228-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-11970228-1');
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smooth-scroll.polyfills.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/vue.min.js"></script>
    <link rel="stylesheet" href="/css/zht.min.6b49e1966948d45bf2714d53645c3150c5aa66a005749cc7b1bb73ffb77d9977.css" media="screen">
    <script src="/js/table.js"></script>
    <script src="/js/toc.js"></script>
    <link rel="stylesheet" href="/css/github-markdown.css">
    <style>
        @font-face {
            font-family: 'iconfont';  /* project id 2235655 */
            src: url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.eot');
            src: url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.woff2') format('woff2'),
            url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.woff') format('woff'),
            url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.svg#iconfont') format('svg');
        }
        .iconfont{
            font-family:"iconfont" !important;
            font-size:16px;font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;}
        a{
            text-decoration: none;
        }
        .nav-link-item a i{
            font-size: 23px;
        }
        .ative{
            border-right: 2px solid rgba(25,118,210,.6);
            background: rgba(25,118,210,.02);
            color: #092949;
        }
    </style>
    <!-- 文章CSS样式 -->
    <style>
        /* ul li 样式 */
        .content-body p ul,ol li{
            display: flex;
            flex-direction: column;
        }
        .content-body p ul,ol li{
            list-style-type:decimal;
            list-style-position:inside;
        }
    </style>
</head><body>
<div id="app">
<div ref="sideContainer" class="side-container">
    <a class="a-block nav-head active" href="/1">
        <div class="nav-title">
            城外三石
        </div>
        <div class="nav-subtitle">
            我们都有美好的未来
        </div>
    </a>
    <div class="nav-link-list">
        <a class="a-block nav-link-item false" href="/blog/1">
            网志
        </a>
        <a class="a-block nav-link-item false" href="/categories/1">
            分类
        </a>
        <a class="a-block nav-link-item false" href="/tags/1">
            标签
        </a>
        <a class="a-block nav-link-item false" href="/class/1">
            系列
        </a>
        <a class="a-block nav-link-item false ative" href="/about">
            关于
        </a>
        <div class="nav-link-item">
            <a href="/"><i class="iconfont" target="_blank">&#xe62e;</i></a>
            <a href="https://github.com/ricemonster" target="_blank"><i class="iconfont">&#xe677;</i></a>
            <a href="/"><i class="iconfont" target="_blank">&#xe62f;</i></a>
        </div>
    </div>
    <div class="nav-footer">
        &copy;2020-2021 Ricemonster
    </div>
</div>
</div><div ref="extraContainer" class="extra-container">
    <div class="toc animated-visibility">
        <div class="toc-content">
            <center>目录</center>
            <ul>
                <ul>
                    <li>
                        <a href="#%e9%ab%98%e8%bc%aa%e5%85%a5%e5%8f%a3%e5%92%8c%e9%96%89%e5%9c%92%e7%9a%84%e8%bf%aa%e5%a3%ab%e5%b0%bc" v-on:click="closeDrawer" id="高輪入口和閉園的迪士尼-nav">
                            高輪入口和閉園的迪士尼
                        </a>
                    </li>
                </ul>
            </ul>
            <ul>
                <ul>
                    <li>
                        <a href="#%e6%88%bf%e7%b8%bd%e5%8d%8a%e5%b3%b6%e4%b9%8b%e9%8b%b8%e5%b1%b1" v-on:click="closeDrawer" id="房總半島之鋸山-nav">
                            房總半島之鋸山
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons iconfont">&#xe611;</i>
        </a>
    </div>
</div>

<div id="content">
    <div ref="streamContainer" class="stream-container">
        <div class="post-list-container post-list-container-shadow">
            <div class="post">
                <div class="post-head-wrapper" style="background-image: url(<%= data.imgUrl %>);background-size: cover">
                    <div class="post-title">
                        <%= data.title %>
                        <div class="post-meta">
                            <time itemprop="datePublished">
                                <%= data.intime %>
                            </time>
<!--                            <i class="material-icons" style>folder</i>-->
<!--                            <a href="/zht/categories/">[世界之旅]</a>-->
<!--                            <i class="material-icons">language</i>-->
<!--                            <a href="https://byvoid.com/zhs/blog/jp-roaming-aha-nokogiri/">簡體版</a>-->
                        </div>
                    </div>
                </div>

                <div class="post-body-wrapper">
                    <div class="post-body">
                        <!-- 文章详情 -->
                        <div class="markdown-body"><%= data.content %></div>
                        <hr width="100%" id="EOF">
                        <p style="color:#777;">上次修改时间 2020-07-15</p>
                    </div>
                    <div class="post-related">


                        <h3>相关日志</h3>
                        <ul>

                            <li>
                                <a href="/zht/blog/jp-roaming-kafi-idu/">日本漫遊：甲斐與伊豆</a>
                            </li>

                            <li>
                                <a href="/zht/blog/jp-roaming-kibi-kansai/">日本漫遊：吉備與關西</a>
                            </li>

                            <li>
                                <a href="/zht/blog/jp-roaming-matsushima-hokuriku/">日本漫遊：松島與北陸</a>
                            </li>

                            <li>
                                <a href="/zht/blog/travel-summary-2019/">2019年旅行總結</a>
                            </li>

                            <li>
                                <a href="/zht/blog/frozen-leftist-symbols/">冰雪奇緣中的左翼符號</a>
                            </li>

                            <li>
                                <a href="/zht/blog/travel-summary-2018/">2018年旅行總結</a>
                            </li>

                            <li>
                                <a href="/zht/blog/two-cities-on-us-mexican-border/">美墨邊境雙城記：蒂華納、華雷斯城</a>
                            </li>

                            <li>
                                <a href="/zht/blog/travel-summary-2016/">2016年旅行總結</a>
                            </li>

                            <li>
                                <a href="/zht/blog/travel-summary-2017/">2017年旅行總結</a>
                            </li>

                            <li>
                                <a href="/zht/blog/switzerland-dwelling-notes-5-paradise-on-earth/">瑞士旅居記（五）：人間天堂</a>
                            </li>

                        </ul>

                    </div>

                </div>

                <nav class="post-pagination">


                    <a class="newer-posts">
                        下一篇<br>No newer posts.
                    </a>



                    <a class="older-posts" href="https://byvoid.com/zht/blog/jp-roaming-matsushima-hokuriku/">
                        上一篇<br>日本漫遊：松島與北陸
                    </a>

                </nav>
                <div class="post-comment-wrapper">

                    <div class="post-comment-wrapper">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'byvoid';
                            var disqus_identifier = '6hqdquvqa2';
                            (function() {
                                if (!disqus_identifier)
                                    return;
                                var disqus_url = 'https:\/\/byvoid.com/\/zht\/blog\/jp-roaming-aha-nokogiri\/';
                                var disqus_title = '日本漫遊：安房鋸山';
                                var disqus_developer = 0;
                                if (window.location.hostname == "localhost")
                                    disqus_developer = 1;
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><div id="single-column-footer"><div id="theme-info" style="display: none;">

        Theme modified from <a href="https://github.com/amazingrise/hugo-theme-diary" target="_blank" rel="noreferrer noopener">Diary</a> by <a href="https://amazingrise.net" target="_blank" rel="noreferrer noopener">Rise</a>
        <br>
        Ported from <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a>'s <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> <br>
        Generated by <a href="https://gohugo.io/" target="_blank">Hugo</a>
        <br><br>

    </div>
    &copy;

    2007-2020 BYVoid
    (<a href="#" onclick="document.getElementById('theme-info').style=''">Diary</a>)</div>
</div>
<!-- <script src="/js/byvoid/joutnal.js"></script> -->
</body>
<script>
    <!-- 生成DOM对象 -->
    function parseDom(arg) {
        var objE = document.createElement("div");
        objE.innerHTML = arg;
        return objE.childNodes;
    };
    // 获取内容,并把text渲染为dom结构
    $(function () {
        let str = $(".markdown-body").text()
        $(".markdown-body").text("")
        let obj = parseDom(str);
        $('.markdown-body').append(obj);
    })
</script>
</html>
